*, *::before, *::after {
    box-sizing: inherit;
  }
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
  
  html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }